@font-face{
    font-family: "Comfortaa Bold";
    src: url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.eot");
    src: url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.eot?#iefix")format("embedded-opentype"),
        url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.woff")format("woff"),
        url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.woff2")format("woff2"),
        url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.ttf")format("truetype"),
        url("https://kuwinet.github.io/webfonts/1e774fab62bd6acf2ac7a7079b3fc57f.svg#Comfortaa Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "All Round Gothic W03 Book";
    src: url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.eot");
    src: url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.eot?#iefix")format("embedded-opentype"),
        url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.woff")format("woff"),
        url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.woff2")format("woff2"),
        url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.ttf")format("truetype"),
        url("https://kuwinet.github.io/webfonts/4387b781fdcc752283b72bdc76757065.svg#All Round Gothic W03 Book")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
	font-family: 'iconfont';
	src: url('https://kuwinet.github.io/webfonts/iconfont.woff2?t=1745051767322') format('woff2'),
	     url('https://kuwinet.github.io/webfonts/iconfont.woff?t=1745051767322') format('woff'),
	     url('https://kuwinet.github.io/webfonts/iconfont.ttf?t=1745051767322') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body p:last-of-type {
    color: white !important;
}

body p:last-of-type:hover {
    color: white !important;
}
